select{
    border: 3px solid skyblue;
    border-radius: 5px;
}

.container{
   text-align: center;

}

#cover {
    background: #222 url('https://images.unsplash.com/photo-1436491865332-7a61a109cc05?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YWlycGxhbmUlMjB3aW5nfGVufDB8fDB8fA%3D%3D&w=1000&q=80')center center no-repeat;
    background-size: cover;
    height: 74vh;
    text-align: center;
    display: flex;
    align-items: center;
    position:relative;
    background-position: center;
    background-attachment: fixed;
}

#cover-caption {
    width: 100%;
    position: relative;
    z-index: 1;
}

form:before {
    content: '';
    height: 50%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
    border-radius: 10px;
}
label{
    color: #222;
    font-size: larger;
}
