<section id="cover">
    <div id="cover-caption">
        <div class="container">
            <div class="row text-white">
                <div class="col-xl-10 col-lg-8 col-md-9 col-sm-14 mx-auto text-center form p-6">
                    <div class="px-2">
                        <form action="" class="justify-content-center" #flightDataForm="ngForm">
                            <div class="form-row justify-content-center">
                                <!-- <div class="col-md-3">
                                    <div class="input-group ">
                                        <img src="assets/images/planeIcon.png" style="width: 45px;">
                                        <select class="form-select" name="trip" [(ngModel)]="flightData.trip">
                                            <option value="" hidden>Trip</option>
                                            <option value="round">Round trip</option>
                                            <option value="one">One way</option>
                                            <option value="multi">Multi city</option>
                                        </select>
                                    </div>
                                </div> -->
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <img src="assets/images/seat1.png" style="width: 40px;">
                                        <select class="form-select" name="seat" [(ngModel)]="flightData.seat">
                                            <option value="" hidden>Class</option>
                                            <option value="economy">Economy</option>
                                            <option value="premeco">Premium Economy</option>
                                            <option value="business">Business</option>
                                            <option value="first">First</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <br>
                            <div class="input-group">
                                <img src="assets/images/depart.jpeg" style="width: 50px;">
                                <select class="form-select" #name="ngModel" name="depart"
                                    [(ngModel)]="flightData.depart">
                                    <option value="" hidden>From</option>
                                    <option *ngFor="let list of arrayDrop" value="{{list.departure}}">{{list.departure}}
                                    </option>
                                </select>
                                <img src="assets/images/arrival.jpeg" style="width: 50px;">
                               <select name="arrival" [(ngModel)]="flightData.arrival" class="form-select">
                                    <option value="" hidden>To</option>
                                    <option *ngFor="let list of arrayDrop">{{list.departure}}</option>
                                </select>
                                <br />
                                <br />
                                <span class="input-group-btn" style="width:10px;"></span>
                                <label>From</label>
                                <span class="input-group-btn" style="width:10px;"></span>
                                <input type="date" placeholder="From" class="form-control input-sm" min="2022-07-08"
                                    name="from" [(ngModel)]="flightData.from">
                                <span class="input-group-btn" style="width:10px;"></span>
                                <label>To</label>
                                <span class="input-group-btn" style="width:10px;"></span>
                                <input type="date" placeholder="To" class="form-control input-sm" name="to"
                                    min="2022-07-08" [(ngModel)]="flightData.to">
                            </div>
                            <br />
                            <br />
                            <button class="btn btn-info" (click)="onSubmit(flightDataForm)"
                                [disabled]="flightDataForm.form.invalid">Search Flights</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>