select{
    border: 3px solid skyblue;
    border-radius: 5px;
}
// option{
//     background-color: skyblue;
// }
.container{
   text-align: center;
//    background-color: skyblue;
}
// *{
//     background-color: skyblue;
// }
  