<!-- <p>book-flight works!</p> -->
<!-- <form class="container">
    <label class="form-label">First Name</label>
    <input class="form-control" type="First name">
</form> -->
<!-- <form>
    <div class="container">
        
        <div class="col-md-5 offset-md-4">
            <h1 style="text-align:center;">Passenger Details</h1>
            <div class="form-row">
                
                <div class="col-md mb-4">
                   
                    <div class="col-md mb-4">
                        <label for="inputEmail4" class="form-label">First name</label>
                        <input type="email" class="form-control" id="inputEmail4">
                    </div>
                    <div class="col-md-6">
                        <label for="inputPassword4" class="form-label">Last name</label> -->
<!-- <input type="password" class="form-control" id="inputPassword4"> -->
<!-- </div>
                </div>
                <div class="form-row">

                    <div class="col-md mb-4">
                        <label for="password">Last name</label>
                        <input type="password" class="form-control" id="pass" aria-describedby="password"
                            placeholder="">
                    </div>

                </div> -->

<!-- <div class="form-row">

                    <div class="col-md mb-4">
                        <label for="password">Gender</label>
                        <input type="password" class="form-control" id="pass" aria-describedby="password"
                            placeholder="">
                    </div>

                </div> -->
<!-- <div class="form-row"> -->
<!-- <div class="col-md mb-4"> -->
<!-- <select class="form-select" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                  </div>
                  </div>

                <div class="col-md offset-md-5">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div> -->
<!-- <button class="btn btn-outline-primary" type="submit">Login</button> -->
<!-- </div> -->

<!-- </div>  -->
<!-- <div class="runway">
    <div class="container">
    <form class="row g-3" #passenger> -->
<!-- <h1 class="text-center">Passenger Details</h1> -->
<!-- <h1>
            Passenger Details
        </h1> -->
<!-- <h3 class="text-center">Adult(12 yrs+)</h3> -->
<!-- <h3>Adult(12 yrs+)</h3>
        <div class="col-md-12">
            <div class="container">
                <div class="col-md-5 offset-md-4">
                    <div class="form-row">
                        <div class="col-md mb-4">
                            <label for="inputEmail4" class="form-label">First name</label>
                            <input type="email" class="form-control" id="inputEmail4">
                        </div>
                        <div class="col-md-6">
                            <label for="inputPassword4" class="form-label">Last name</label>
                            <input type="password" class="form-control" id="inputPassword4">
                        </div>
                        <div class="col-12">
                            <label for="inputAddress" class="form-label">Gender</label>
                            <br />
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                                    value="option1">
                                <label class="form-check-label" for="inlineRadio1">Male</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                                    value="option2">
                                <label class="form-check-label" for="inlineRadio2">Female</label>
                            </div> -->




<!-- <select class="form-select" aria-label="Default select example"> -->
<!-- <option selected></option> -->
<!-- <option value="1">Male</option>
                                <option value="2">Female</option> -->
<!-- <option value="3">Three</option> -->
<!-- </select> -->
<!-- <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St"> -->
<!-- </div>
                        <br />
                        <div class="col-12">
                            <label for="inputAddress2" class="form-label">Date of Birth</label>
                            <input type="date" class="form-control" id="inputAddress2">
                        </div> -->
<!-- <div class="col-md-6">
                                <label for="inputCity" class="form-label">City</label>
                                <input type="text" class="form-control" id="inputCity">
                            </div>
                            <div class="col-md-4">
                                <label for="inputState" class="form-label">State</label>
                                <select id="inputState" class="form-select">
                                    <option selected>Choose...</option>
                                    <option>...</option>
                                </select>
                            </div> -->
<!-- <div class="col-md-2">
                                <label for="inputZip" class="form-label">Zip</label>
                                <input type="text" class="form-control" id="inputZip">
                            </div> -->
<!-- <div class="col-12">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="gridCheck">
                                    <label class="form-check-label" for="gridCheck">
                                        Check me out
                                    </label>
                                </div>
                            </div> -->
<!-- <div class="col-12">
                                <button type="submit" class="btn btn-primary">Sign in</button>
                            </div> -->
<!-- </div>
                    <br />
                    <br />
                    <div class="text-center">
                        <button class="btn btn-light" (click)="toggle()">
                            <img src="assets/images/plus.png" style="width: 30px;"> Add new Adult</button>
                    </div>
                </div>
            </div>
        </div>
    </form> -->
<!-- </div> -->

<!-- </form> -->
<!-- <div class="container">
        <form class="row g-3">
            <h1 class="text-center">Contact Details</h1>
            <div class="col-md-12">
                <div class="container">
                    <div class="col-md-5 offset-md-4">
                        <div class="form-row">
                            <div class="col-md mb-4">
                                <label for="inputEmail4" class="form-label">Email</label>
                                <input type="email" class="form-control" id="inputEmail4">
                            </div>
                        </div> -->


<!-- <div class="col-md-6">
                        <label for="inputPassword4" class="form-label">Password</label>
                        <input type="password" class="form-control" id="inputPassword4">
                    </div> -->



<!-- <div class="form-row">
                            <div class="col-md mb-4">
                                <label for="inputEmail4" class="form-label">Country code</label>
                                <input type="email" class="form-control" id="inputEmail4">
                            </div>
                            <div class="col-md-6">
                                <label for="inputPassword4" class="form-label">Mobile No</label>
                                <input type="password" class="form-control" id="inputPassword4">
                            </div>
                        </div>
                        <div class="form-row">
                            <label for="inputAddress" class="form-label">Address</label>
                            <textarea id="address" name="address" rows="4" cols="40" class="form-control"></textarea>
                        </div> -->



<!-- <div class="form-row">
                        
                        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                    </div> -->
<!-- <div class="form-row">
                        <label for="inputAddress2" class="form-label">Address 2</label>
                        <input type="text" class="form-control" id="inputAddress2"
                            placeholder="Apartment, studio, or floor">
                    </div> -->




<!-- <div class="form-row">
                            <div class="col-md-6">
                                <label for="inputCity" class="form-label">City</label>
                                <input type="text" class="form-control" id="inputCity">
                            </div>
                            <div class="col-md-4">
                                <label for="inputState" class="form-label">State</label>
                                <select id="inputState" class="form-select">
                                    <option selected>Choose</option>
                                    <option>...</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <label for="inputZip" class="form-label">Zip</label>
                                <input type="text" class="form-control" id="inputZip">
                            </div>
                        </div>
                        <br />
                        <div class="col-12">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="gridCheck">
                                <label class="form-check-label" for="gridCheck">
                                    Check me out
                                </label>
                            </div>
                        </div>
                        <div class="text-center"> -->

<!-- <button [routerLink]="['./bookFlight']" class="btn btn-info">Search Flights</button> -->

<!-- <button [routerLink]="['flightSummary']" class="btn btn-info">Book now</button>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div> -->

<section id="cover" class="min-vh-100">
    <div id="cover-caption">
        <div class="container">
            <div class="row text-white">
                <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
                    <h3 class="display py-2 text-truncate">Passenger Details</h3>
                    <br/>
                    <!-- <br/> -->
                    <div class="icon">
                        <i class="bi bi-trash"></i>Clear
                    </div>
                    <!-- <span class='bi bi-trash' style='color: red'>Red icon</span> -->
                    <div class="px-2">
                        <form action="" class="justify-content-center">
                            <!-- <div class="form-group">
                                <label class="sr-only">Name</label>
                                <input type="text" class="form-control" placeholder="Jane Doe">
                            </div>
                            <div class="form-group">
                                <label class="sr-only">Email</label>
                                <input type="text" class="form-control" placeholder="jane.doe@example.com">
                            </div> -->


                            <div class="form-row">
                                <div class="col-md-6">
                                    <label for="inputEmail4" class="form-label">First name</label>
                                    <input type="email" class="form-control" id="inputEmail4">
                                </div>
                                <div class="col-md-6">
                                    <label for="inputPassword4" class="form-label">Last name</label>
                                    <input type="password" class="form-control" id="inputPassword4">
                                </div>

                            </div>
                            <br />
                            <div class="form-row">
                                <div class="col-6">
                                    <label for="inputAddress" class="form-label  col-lg-5">Gender</label>
                                    <br />
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input " type="radio" name="inlineRadioOptions"
                                            id="inlineRadio1" value="option1">
                                        <label class="form-check-label" for="inlineRadio1">Male</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                            id="inlineRadio2" value="option2">
                                        <label class="form-check-label" for="inlineRadio2">Female</label>
                                    </div>
                                </div>

                                <!-- <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St"> -->
                                <!-- </d    iv> -->
                                <!-- <br /> -->
                                <div class="col-md-6">
                                    <label for="inputAddress2" class="form-label">Date of Birth</label>
                                    <input type="date" class="form-control" id="inputAddress2">
                                </div>
                            </div>

<br />

                            <div class="form-row">

                                <div class="col-md-5">
                                    <label for="inputState" class="form-label">Nationality</label>
                                    <select id="inputState" class="form-select">
                                        <option selected>Choose...</option>
                                        <option>...</option>
                                    </select>
                                </div>
                                <div class="col-md-7">
                                    <label for="inputZip" class="form-label">ID type</label>
                                    <input type="text" class="form-control" id="inputZip">
                                </div>
                            </div>
<br/>
                            <div class="form-row">

                                <div class="col-md-6">
                                    <label for="inputState" class="form-label">Passport number</label>
                                    <input type="text" class="form-control" id="inputZip">

                                    <!-- <select id="inputState" class="form-select">
            <option selected>Choose...</option>
            <option>...</option>
        </select> -->
                                </div>
                                <div class="col-md-6">
                                    <label for="inputZip" class="form-label">Id Expiration Date(optional)</label>
                                    <input type="text" class="form-control" id="inputZip">
                                </div>
                            </div>

                            <!-- Nationality -->
                            <!-- ID type -->
                            <!-- Passport number
                            ID Expiration Date (Optional) -->
                            <br />
                            <br />
                            <button type="submit" class="btn btn-info btn-lg">Add new Adult</button>
                        </form>
                    </div>



                </div>


                <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
                    <h3 class="display py-2 text-truncate">Contact Details</h3>
                    <div class="px-2">
                        <br/>
                        <form action="" class="justify-content-center">

                            <!-- <div class="form-group">
                                <label class="sr-only">Name</label>
                                <input type="text" class="form-control" placeholder="Jane Doe">
                            </div>
                            <div class="form-group">
                                <label class="sr-only">Email ID</label>
                                <input type="text" class="form-control" placeholder="jane.doe@example.com">
                            </div> -->

                            <!-- <div class="form-row"> -->
                            <div class="col-md mb-2">
                                <label for="inputEmail4" class="form-label">Email ID</label>
                                <input type="email" class="form-control" id="inputEmail4">
                            </div>
                            <!-- </div> -->
                            <!-- <div class="col-md mb-2">
                                <label for="inputEmail4" class="form-label">Address</label>
                                <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                            </div> -->
                            <div class="col-md mb-2">
                                <label for="inputAddress" class="form-label">Address</label>
                                <textarea id="address" name="address" rows="2" cols="40"
                                    class="form-control"></textarea>
                            </div>
                            <div class="col-md mb-2">
                                <label for="inputCity" class="form-label">City</label>
                                <input type="text" class="form-control" id="inputCity">
                            </div>
                            <div class="form-row">

                                <div class="col-md-8">
                                    <label for="inputState" class="form-label">State</label>
                                    <select id="inputState" class="form-select">
                                        <option selected>Choose...</option>
                                        <option>...</option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <label for="inputZip" class="form-label">Zip</label>
                                    <input type="text" class="form-control" id="inputZip">
                                </div>
                            </div>
                            <div class="form-row">

                                <div class="col-md-4">
                                    <label for="inputState" class="form-label">Country code</label>
                                    <select id="inputState" class="form-select">
                                        <option selected>Choose...</option>
                                        <option>...</option>
                                    </select>
                                </div>
                                <div class="col-md-8">
                                    <label for="inputZip" class="form-label">Phone no</label>
                                    <input type="text" class="form-control" id="inputZip">
                                </div>
                            </div>
                            <br />
                            <br />
                            <button type="submit"  [routerLink]="['flightSummary']" class="btn btn-info  btn-lg">Book Now</button>
                        </form>
                    </div>



                </div>





            </div>
        </div>
    </div>
</section>