label{
    color:white;
}
form{
    // background-color: skyblue;
    width:40%;
    align-items: center;
    margin-left: 30%;
    margin-top: 10%;
    border:2px solid skyblue;
}
.new{
    margin-bottom: 15px;
}
.newLabel{
    font-size:16px;
    font-weight: bold;  
    color: black; 
}
button{
    border-radius: 20px;
    color: black;
}
