<!-- <p>login works!</p> -->
<!-- <div class="mx-auto" style="width:100px">LOGIN</div> -->
<!-- <form (ngSubmit)="loginUser()" formGroup="loginFormm">
    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Email</label>
        <input type="email" placeholder="Email ID" formGroupName="emailId" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" placeholder="Password" formGroupName="pass" class="form-control">
    </div>
    <div class="mb-3">
        <button id="login" class="btn btn-primary">LOGIN</button>
    </div> 
</form> -->

<br>
<!-- <br> 
<div class="mb-3 row">
    <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">

<input type="text" readonly class="form-control-plaintext" id="staticEmail" value="email@example.com">
</div>
</div> -->

<form>
    <!-- <div class="container"> -->
<div class="col-md-4 offset-md-4">
    <div class="form-row">
        <div class=" col-md mb-4">
            <h1 style="text-align:center;">LOGIN</h1>
            <label for="emailId">Email ID</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Email ID">
        </div>
        <div class=" col-md mb-4">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="pass" aria-describedby="password" placeholder="Password">
        </div>

    </div>

    <div  class="col-md offset-md-5">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
<!-- <button class="btn btn-outline-primary" type="submit">Login</button> -->


</div>

</form>
<!-- <br>
<br>
<button class="btn btn-outline-primary mr-6" href="#">Sign up</button>
<button class="btn btn-outline-primary" href="#">Login</button>

<br>
<br> -->
<!-- <input id="id_ok" class="btn btn-space" value="OK" type="button">
<input id="id_cancel" class="btn btn-space" value="Cancel" type="button"> -->

<!-- <button type="button" class="btn btn-primary btn-color btn-bg-color btn-sm col-xs-2">
    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> -->
     <!-- DELETE CUSTOMER -->
  <!-- </button> -->