<section id="cover" class="min-vh-100">
    <div id="cover-caption">
        <div class="container">
            <div class="row text-white">
                <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
                    <h3 class="display py-2 text-truncate">Ticket Summary &nbsp;
                    </h3>
                    <br />
                    <span class="icon">
                    </span>
                    <div class="px-2">
                        <form action="" class="justify-content-center" [formGroup]="summaryForm">
                            <label for="form-label">Passenger name</label>

                            <div class="form-row">
                                <div class="col-md-6">
                                    <input type="text" name="firstName" formControlName="firstName" readonly
                                        class="form-control rounded-0">
                                </div>
                                <div class="col-md-6">
                                    <input type="text" name="lastName" formControlName="lastName" readonly
                                        class="form-control rounded-0">
                                </div>
                            </div>
                            <br />
                            <div class="form-row">
                                <div class="col-6">
                                    <label for="form-label">From</label>
                                    <input type="text" name="from" formControlName="from" readonly
                                        class="form-control rounded-0">
                                </div>
                                <div class="col-md-6">
                                    <label for="form-label">To</label>
                                    <input type="text" name="to" formControlName="to" readonly
                                        class="form-control rounded-0">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-6">
                                    <label for="form-label">Departure date</label>
                                    <input type="text" name="depart" formControlName="depart" readonly
                                        class="form-control rounded-0">
                                </div>
                                <div class="col-md-6">
                                    <label for="">Arrival date</label>
                                    <input type="text" name="arrival" formControlName="arrival" readonly
                                        class="form-control rounded-0">
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>