<!-- <p>flight-summary works!</p> -->

<!-- <p style="background-image: url('assets/images/flight.jpg');"> -->
<!-- <body background="assets/images/flight2.jpg"></body> -->
<!-- <img src="assets/images/flight2.jpg"> -->
<div class="air-book">
    <div class="bgImg"></div>
    <div class="flight-book">
        <h4>Booking Date</h4>
        <br />
        <!-- <br /> -->
        <hr>
        <h4>Passenger name</h4>
        <br />
        <!-- <br /> -->
        <hr>
        <h4>Flight Details</h4>
        <p>Route</p>
        <hr>
        <div class="input-group">
            <p>From</p>
            <span class="input-group-btn" style="width:20%;">            
            </span>
         

            <p>Airline</p>
            <span class="input-group-btn" style="width:24%;"></span>

            <p>Departure date</p>
            <span class="input-group-btn" style="width:23%;"></span>

            <p>Arrival Date</p>

        </div>
        {{departure}}
        <hr>
        <div class="input-group">

            <p>To</p>
            <span class="input-group-btn" style="width:20%;"></span>

            <p>Flight number</p>
            <span class="input-group-btn" style="width:20%;"></span>

            <p>Departure Terminal</p>
            <span class="input-group-btn" style="width:20%;"></span>

            <p>Arrival Terminal</p>
        </div>
    </div>
</div>