<!-- <p>vacay works!</p> -->
<h1 class="text-center">To your next Holiday Destination!</h1>
<div class="container">
  <div class="row">
    <div class=" col">
      <div class="card" style="max-width: 15rem;">
        <a href="https://www.visitdubai.com/en/">
        <img class="card-img-top" src="assets/images/dubai1.jpeg" alt="Card image cap">
        <div class="card-body text-white  p-12">Dubai</div>
        </a>
      </div>
    </div>
    <div class="col">
      <div class="card" style="max-width: 15rem;">
        <img class="card-img-top" src="assets/images/nyc1.jpeg" alt="Card image cap">
        <div class="card-body text-white  p-12">Atlantic City</div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="max-width: 15rem;">
        <img class="card-img-top" src="assets/images/sfo.jpeg" alt="Card image cap">
        <div class="card-body text-white  p-12">San Francisco</div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="max-width: 15rem;">
        <img class="card-img-top" src="assets/images/london.jpg" alt="Card image cap">
        <div class="card-body text-white  p-12">London</div>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card" style="max-width: 15rem;">
        <img class="card-img-top" src="assets/images/paris1.jpg" alt="Card image cap">
        <div class="card-body text-white  p-12">Paris</div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="max-width: 15rem;">
        <img class="card-img-top" src="assets/images/bangkok.jpg" alt="Card image cap">
        <div class="card-body text-white  p-12">Bangkok</div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="max-width: 15rem;">
        <img class="card-img-top" src="assets/images/bali.jpg" alt="Card image cap">
        <div class="card-body text-white  p-12">Bali</div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="max-width: 15rem;">
        <img class="card-img-top" src="assets/images/sydney.jpg" alt="Card image cap">
        <div class="card-body text-white  p-12">Sydney</div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card" style="max-width: 15rem;">
          <img class="card-img-top" src="assets/images/spain.jpg" alt="Card image cap">
          <div class="card-body text-white  p-12">Spain</div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="max-width: 14rem;">
          <img class="card-img-top" src="assets/images/singapore.jpg" alt="Card image cap">
          <div class="card-body text-white  p-12">Singapore</div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="max-width: 13rem;">
          <img class="card-img-top" src="assets/images/shanghai.jpg" alt="Card image cap">
          <div class="card-body text-white  p-12">Shanghai</div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="max-width: 12rem;">
          <img class="card-img-top" src="assets/images/maldives.jpg" alt="Card image cap">
          <div class="card-body text-white  p-12">Maldives</div>
        </div>
      </div>
  </div>
</div>
