<app-navigation></app-navigation>

<router-outlet></router-outlet>
<!-- <a  routerLink="/login" routerLinkActive="active">Login</a> -->

<!-- <br />
<br />
<div class="u_animateimg u_animateimg_hover">
  <div class="u_animateimg_content">
    <a title="Harrisburg" href="https://www.trip.com/things-to-do/harrisburg-1867/">
      <img alt="Harrisburg" src="https://youimg1.tripcdn.com/target/0ww6w120006ok36n3B3A5_C_550_412.jpg?proc=source/trip;namelogo/d_40" style="height: 1px; width: 1px; display: none;"><div class="m_image"><div class="img" 
        style="background-image: url(&quot;https://youimg1.tripcdn.com/target/0ww6w120006ok36n3B3A5_C_550_412.jpg?proc=source/trip;namelogo/d_40&quot;);">
      </div>
    </div>
  </a>
</div>
</div> -->
<!-- <div class="img-wrapper">
<img class="inner-img" src="assets/images/nyc1.jpeg">

<p class="text-block">Atlantic City</p>
</div> -->


<!-- <div class="img-wrapper" style="max-width: 20rem;">
  <img class="inner-img" src="assets/images/dubai1.jpeg">
   <p class="carousel-caption">Dubai</p> 
   <p class="text-block">Dubai</p> 
  <div class="card-body text-dark p-12">
    Sample text
  </div>
</div>
<br />
<br /> -->
<!-- <div class="card" style="max-width: 20rem;"> -->

  <!-- Card image -->
  <!-- <img class="card-img-top" src="assets/images/dubai1.jpeg" alt="Card image cap"> -->

  <!-- Card content -->
  <!-- <div class="card-body text-white  p-12">
    Dubai
  </div>

</div>
<div class="card" style="max-width: 20rem;"> -->

  <!-- Card image -->
  <!-- <img class="card-img-top" src="assets/images/nyc1.jpeg" alt="Card image cap"> -->

  <!-- Card content -->
  <!-- <div class="card-body text-white  p-12">
    Atlantic City
  </div>

</div>
<div class="card" style="max-width: 20rem;"> -->

  <!-- Card image -->
  <!-- <img class="card-img-top" src="assets/images/sfo.jpeg" alt="Card image cap"> -->

  <!-- Card content -->
  <!-- <div class="card-body text-white  p-12">
    San Francisco
  </div>

</div>
<div class="card" style="max-width: 20rem;"> -->

  <!-- Card image -->
  <!-- <img class="card-img-top" src="assets/images/london.jpg" alt="Card image cap"> -->

  <!-- Card content -->
  <!-- <div class="card-body text-white  p-12">
    London
  </div>

</div>
<div class="card" style="max-width: 20rem;"> -->

  <!-- Card image -->
  <!-- <img class="card-img-top" src="assets/images/paris1.jpg" alt="Card image cap"> -->

  <!-- Card content -->
  <!-- <div class="card-body text-white  p-12">
    Paris
  </div>

</div>
<div class="card" style="max-width: 20rem;"> -->

  <!-- Card image -->
  <!-- <img class="card-img-top" src="assets/images/bangkok.jpg" alt="Card image cap"> -->

  <!-- Card content -->
  <!-- <div class="card-body text-white  p-12">
    Bangkok
  </div>

</div>
<div class="card" style="max-width: 20rem;"> -->

  <!-- Card image -->
  <!-- <img class="card-img-top" src="assets/images/bali.jpg" alt="Card image cap"> -->

  <!-- Card content -->
  <!-- <div class="card-body text-white  p-12">
    Bali
  </div>

</div>
<div class="card" style="max-width: 20rem;"> -->

  <!-- Card image -->
  <!-- <img class="card-img-top" src="assets/images/sydney.jpg" alt="Card image cap"> -->

  <!-- Card content -->
  <!-- <div class="card-body text-white  p-12">
    Sydney
  </div>

</div>
<div class="card" style="max-width: 20rem;"> -->

  <!-- Card image -->
  <!-- <img class="card-img-top" src="assets/images/spain.jpg" alt="Card image cap"> -->

  <!-- Card content -->
  <!-- <div class="card-body text-white  p-12">
    Spain
  </div>

</div>
<div class="card" style="max-width: 20rem;"> -->

  <!-- Card image -->
  <!-- <img class="card-img-top" src="assets/images/singapore.jpg" alt="Card image cap"> -->

  <!-- Card content -->
  <!-- <div class="card-body text-white  p-12">
    Singapore
  </div>

</div>
<div class="card" style="max-width: 20rem;"> -->

  <!-- Card image -->
  <!-- <img class="card-img-top" src="assets/images/shanghai.jpg" alt="Card image cap"> -->

  <!-- Card content -->
  <!-- <div class="card-body text-white  p-12">
    Shanghai
  </div>

</div> -->

<!-- *************************************************************************************** -->
<!-- </div> -->

<!-- <div class="row">
  <div class="col-md-4"><img src="assets/images/dubai1.jpeg"></div>
  <div class="col-md-4">.col-md-4</div>
  <div class="col-md-4">.col-md-4</div>
</div> -->
<!-- <div class="bg-image hover-zoom"> -->
  <!-- <img  class="inner-img" src="https://mdbootstrap.com/img/new/standard/city/053.webp" height="300" width="300"/> -->
 
<!-- <img src="https://mdbootstrap.com/img/new/slides/041.webp" class="img-fluid" alt="max-width: 100%;height: auto;" /> -->
<!-- <div class="bg-image hover-overlay ripple">
  <img src="https://mdbootstrap.com/img/new/fluid/city/055.webp" class="img-fluid" />
  <a href="#!">
    <div class="mask" style="background-color: rgba(57, 192, 237, 0.2);"></div>
  </a>
</div> -->

<!-- <app-ngb-carouselbasic></app-ngb-carouselbasic> -->

