<h3 class="text-center">AVAILABLE FLIGHTS</h3>
<table class="table bg-white">
  <thead style="background-color: skyblue;">
    <tr>
      <th>Time</th>
      <th>From</th>
      <th>To</th>
      <th>ETD</th>
      <th>Status</th>
      <th>Gate</th>
      <th>Ticket</th>
    </tr>
  </thead>

  <tr *ngFor="let table of flightTableService.dropList">
    <td>{{table.Time}}</td>
    <td>{{table.From}}</td>
    <td>{{table.To}}</td>
    <td>{{table.ETD}}</td>
    <!-- FINAL CALL -->
    <td *ngIf="table.Status=='Final call'">
      <span [ngStyle]="{'background-color':'orange','color':'white','border-radius':'10px'}">{{table.Status}}</span>
    </td>
    <!-- DELAYED -->
    <td *ngIf="table.Status=='Delayed'">
      <span [ngStyle]="{'background-color':'red','color':'white','border-radius':'15px','height':'10%'}">{{table.Status}}</span>
    </td>
    <!-- BOARDING -->
    <td *ngIf="table.Status=='Boarding'">
      <span [ngStyle]="{'background-color':'green','color':'white','border-radius':'20px','height':'10%'}">{{table.Status}}</span>
    </td>
    <!-- DEPARTED -->
    <td *ngIf="table.Status=='Departed'">
      <span [ngStyle]="{'background-color':'black','color':'white','border-radius':'20px','height':'10%'}">{{table.Status}}</span>
    </td>
    <!-- READY TO TAKE OFF -->
    <td *ngIf="table.Status=='Ready to take off'">
      <span [ngStyle]="{'background-color':'blue','color':'white','border-radius':'20px','height':'10%'}">{{table.Status}}</span>
    </td>
    <td>{{table.Gate}}</td>
    <td><button [routerLink]="['./bookFlight',table._id]"   class="btn btn-info">Select</button></td>  
  </tr>
</table>