.logo{
    width:5%;
    height:5%;
}
.img-wrapper {  
    width: 800px;
    height: 800px;
    overflow: hidden; 
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    margin: 1rem auto;
   }
    .card-img-top {
    transition: 0.3s;
    width: 350px;
    height: 350px;
  }  
  .card-img-top:hover {
    transform: scale(1.1);
  }
  .text-over-img { 
	z-index:1; 
	font-size: 2.2em; 
	margin-top: -100px; 
  color:white;
} 
.text-block {
    position: absolute;
    bottom:10px;
    left:70px;
    
    font-size:xx-large;
    font-weight: 500;
    color: black;
    
    position: absolute;
  }
.card {
    margin: 1rem auto;
    position: relative; 
  }  
  .card-body {
    z-index: 2;
    position: absolute;
   
    font-weight: 400;
    font-size:xx-large;
    text-align: center;

    width:100%;
    bottom:0;  
  }
  .bi{
    color: turquoise;
    font-size: 25px;
    font-weight: bolder;
  }