<nav class="navbar  navbar-expand-lg navbar-light" style="background-color: #b0e6ff;">
  <img src="assets/images/travel2.jpg" style="width:95px">
  <a class="navbar-brand" href="#">EnRoute</a>
  <div class="col-md-10  text-right" style="background-color: #b0e6ff;">
    <a routerLink="/login"><button *ngIf="!authService.loggedIn()" class="btn btn-info mr-3">LOGIN</button></a>
    <a routerLink="/register"><button *ngIf="!authService.loggedIn()" class="btn btn-info mr-5">REGISTER</button></a>
    <button class="nav-link" style="cursor:pointer" class="btn btn-info mr-5" *ngIf="authService.loggedIn()"
      (click)="logout()">Logout</button>
  </div>
</nav>
<nav class="navbar  navbar-expand-lg navbar-light" style="background-color: white;border: 15px solid #b0e6ff;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
    aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/flights">Flights</a>
      </li>
      <!-- <li class="nav-item">
              <a class="nav-link" href="/train">Trains</a>
            </li> -->
      <!-- <li class="nav-item">
              <a class="nav-link" href="/bus">Buses</a>
            </li> -->
      <li class="nav-item">
        <a class="nav-link" href="/vacay">Vacation</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <i class="bi bi-search"></i>
    </form>
  </div>
</nav>