<br />
<br />
<!-- <form class="container"> -->
<!-- <bg-image></bg-image> -->
<!-- <div class="air-book"> -->
  <!-- <img src="assets/images/train-bg.jpg"> -->
<div class="train">
<form class="container">
  <!-- <img src="assets/images/train-bg.jpg" style="width: 100%; height:100%;opacity:0.5"> -->
    <!-- <div class="col-md-3 offset-md-5"> -->
        <!-- <div class="form-row"> -->
        <!-- <div class="col-md-9"> -->
        <div class="input-group">
        <img src="assets/images/train1.png" style="width: 30px;">
        <span class="input-group-btn" style="width:10px"></span>

        <!-- <div class="col-md mb-2"> -->
            <input type="text" placeholder="From" >
           
        <!-- </div> -->
        <span class="input-group-btn" style="width:10px;"></span>

            <i class="fa fa-exchange fa-2x" style="color: #4bbfdc;"></i>	
            <span class="input-group-btn" style="width:10px;"></span>

        <!-- </div> -->
        <!-- <div class="col-md-3 offset-md-4"> -->
        <img src="assets/images/train2.png" style="width: 30px;">
        <!-- <div class="col-md mb-4"> -->
            <span class="input-group-btn" style="width:10px"></span>

            <input type="text" placeholder="To" >
        <!-- </div> -->
        <!-- </div> -->
        </div>
<br />
<!-- <div class="container"> -->

        <label class="form-label col-lg-3">DD/MM/YYYY</label>
        <br />
        <!-- <br /> -->
        <input type="date" placeholder="From" class="col-md-2">
        <!-- </div> -->
<br />
<br />

        <select>
            <option value="round">General</option>
            <option value="one">Ladies</option>
            <option value="multi">Lower Birth/Sr Citizens</option>
            <option value="multi">Person with Disability</option>
            <option value="multi">Tatkal</option>
            <option value="multi">Premium Tatkal</option>
        </select>
<br />
<br />
        <select>
            <option value="round">All Classes</option>
            <option value="one">Anubhuti Class(EA)</option>
            <option value="multi">AC First Class(1A)</option>
            <option value="multi">Vistadome AC(EV)</option>
            <option value="multi">Exc.Chair Car(EC)</option>
            <option value="multi">AC 2 Tier(2A)</option>
            
                <option value="round">First Class</option>
                <option value="one">AC 3 Tier(3A)</option>
                <option value="multi">AC 3 Economy(3E)</option>
                <option value="multi">Vistadome Chair Car(VC)</option>
                <option value="multi">AC Chair car(CC)</option>
                <option value="multi">Sleeper(SL)</option>
               
                    <option value="multi">Vistadome Non AC(VS)</option>
                    <option value="multi">Second Sitting(2S)</option>
                   
            
        </select>
        <br />
        <br />
        <!-- <div class="col-md-8 offset-md-5"> -->
        <button class="btn btn-info ">Search Trains</button>
        <!-- </div> -->
    <!-- </div> -->
</form>
</div>