.container{
    text-align: center;
   //  background-image: url('https://images.pexels.com/photos/325200/pexels-photo-325200.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
 }

 .datepicker {
    display:inline-block;
    margin:0 auto;
 }
 .input-group{
   justify-content: center;
 }

//  .train{
//        background-image: url('https://images.pexels.com/photos/325200/pexels-photo-325200.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');

//  }
 