<!-- <p>register works!</p>
<div class="form-row">
<div class="col-7">
    <input type="text" class="form-control" placeholder="City">
  </div>
  <div class="col">
    <input type="text" class="form-control" placeholder="State">
  </div>
  <div class="col">
    <input type="text" class="form-control" placeholder="Zip">
  </div>
</div> -->
<form>
  <div class="col-md-4 offset-md-4">
  <div class="form-row">
    <div class="col-md mb-3">
      <h1 style="text-align:center;">REGISTER</h1>

      <label for="validationDefault01">FirstName</label>
      <input type="text" class="form-control" id="validationDefault01" placeholder="FirstName" required>
    </div>
    <div class="col-md mb-3">
      <label for="validationDefault02">LastName</label>
      <input type="text" class="form-control" id="validationDefault02" placeholder="LastName" required>
    </div>
    <div class="col-md mb-3">
      <label for="validationEmail">Email ID</label>
      <input type="text" class="form-control" id="validationEmail" placeholder="Email ID" required>

  </div>
  <div class="col-md mb-3">
    <label for="Gender">Gender</label>
  <div class="custom-control custom-radio custom-control-inline">
    <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
    <label class="custom-control-label" for="customRadioInline1">Male</label>
  </div>
  <div class="custom-control custom-radio custom-control-inline">
    <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
    <label class="custom-control-label" for="customRadioInline2">Female</label>
  </div>  
  </div>

  <div class="col-md mb-3">
    <label for="validationPass1">State</label>
    <select class="custom-select">
      <option selected>Open this select menu</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
  </div>



  <div class="col-md mb-3">
    <label for="validationPass1">Password</label>
    <input type="password" class="form-control" id="validationPass1" placeholder="Password" required>
  </div>
  <div class="col-md mb-3">
    <label for="validationPass2">Confirm Password</label>
    <input type="password" class="form-control" id="validationPass2" placeholder="Confirm Password" required>
  </div>
  <div  class="col-md offset-md-5">

  <button class="btn btn-primary" type="submit">Register</button>
  </div>
</div>
<!-- </form> -->